[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mesrop-Gevorgyan
[access "refs/for/refs/*"]
	read = group user/Mesrop-Gevorgyan
	push = group user/Mesrop-Gevorgyan
	label-Code-Review = -2..+2 group user/Mesrop-Gevorgyan
	label-Verified = -1..+1 group user/Mesrop-Gevorgyan
	rebase = group user/Mesrop-Gevorgyan
	removeReviewer = group user/Mesrop-Gevorgyan
	submit = group user/Mesrop-Gevorgyan
[access "refs/heads/*"]
	read = group user/Mesrop-Gevorgyan
	create = group user/Mesrop-Gevorgyan
	push = +force group user/Mesrop-Gevorgyan
	pushMerge = group user/Mesrop-Gevorgyan
[access "refs/tags/*"]
	push = +force group user/Mesrop-Gevorgyan
	pushTag = group user/Mesrop-Gevorgyan
	pushSignedTag = group user/Mesrop-Gevorgyan
